name: Build ros2_ws
on:
  pull_request:
    paths:
      - ros2_ws/**
      - .github/workflows/build_ros2_ws.yml
  push:
    branches:
      - main
    paths:
      - ros2_ws/**
      - .github/workflows/build_ros2_ws.yml
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  build_ros2_ws:
    runs-on: ubuntu-22.04
    container: ghcr.io/catscanners/ros-humble-ci:humble
    steps:
      - uses: actions/checkout@v6

      - name: init px4_msgs
        run: |
          # Needed to not get `detected dubious ownership in repository` caused
          # by using a different container
          git config --global --add safe.directory $GITHUB_WORKSPACE
          git submodule update --init ros2_ws/src/px4_msgs

      - name: cache px4_msgs build
        id: cache-px4-msgs
        uses: actions/cache@v4
        with:
          path: ros2_ws/build/px4_msgs
          key: ${{ runner.os }}-ros-humble-px4_msgs-${{ hashFiles('ros2_ws/src/px4_msgs/**') }}

      - name: build ros2_ws
        run: |
          cd ros2_ws
          . /opt/ros/humble/setup.sh
          colcon build
