name: Build and publish ROS2 Humble image for CI

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish_ci_image.yml
      - ci/ros2-humble-ci.dockerfile
  schedule:
    - cron: "* * * * 0" # Weekly on Sunday
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/ros-humble-ci
          tags: |
            type=raw,value=humble
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v6
        with: 
          context: ./ci
          file: ci/ros2-humble-ci.dockerfile
          platforms: linux/amd64
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
