name: Build and publish image for simulator

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish_sim_image.yml
      - simulation/**
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-22.04
    steps:
      - name: Free disk space
        run: |
          rm -rf /opt/hostedtoolcache

      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Init submodules
        run: |
          git submodule update --init --recursive -j 10

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/kitten-sim
          tags: |
            type=raw,value=humble
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v6
        with: 
          context: .
          file: simulation/Dockerfile
          platforms: linux/amd64
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
